{% extends "experimental/layouts/template.html" %}
{% block title %}Experimental Stuff{% endblock %}

{% block content %}
<h2 class="text-2xl">Gemini Text Generation</h2>

<form action="/gemini_reply" method="post">
    <label for="username" class="block text-sm/6 font-medium text-gray-900">Ask a question</label>
    <div class="mt-2">
        <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
            <input type="text" name="q" id="q" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="janesmith">
        </div>

        <input type="submit" value="Enter" class="mt-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    </div>
</form>
{% endblock %}

