{% extends "experimental/layouts/template.html" %}
{% block title %}Edit User{% endblock %}

{% block content %}
    <div class="max-w-xl">
        <h2 class="text-4xl font-extrabold dark:text-white mb-3">Edit User</h2>

        <form action="{{ url_for('update_user1') }}" method="post">
            <p>Edit username:</p>
            <input type="hidden" name="orig_name" value="{{ user.name }}">
            <input type="hidden" name="orig_timestamp" value="{{ user.timestamp }}">
            
            <div class="mb-3">
                <label for="q" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Webhook URL</label>
                <input type="text" id="username" name="username" value="{{ user.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://dsai.spruecutters.com/experimental/telegram/webhook" required autofocus>
            </div>

            <input type="submit" value="Save" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <a href="{{ url_for('users1') }}" class="inline-block px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Cancel</a>
        </form>
    </div>
{% endblock %}
