<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Web Application</h2>
        <form action="{{ url_for('sql') }}" method="post">
            <p>Enter username:</p>
            <input type="text" name="username" required>
            <input type="submit" value="Enter">
        </form>

        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>
</html>