<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Web Application</h2>
        <form action="{{ url_for('gemini') }}" method="post">
            <input type="submit" value="Chatbot by Gemini">
        </form>

        <form action="{{ url_for('users') }}" method="post">
            <input type="submit" value="Users">
        </form>

        <form action="{{ url_for('delete_users') }}" method="post">
            <input type="submit" value="Delete Users">
        </form>

        <form action="{{ url_for('index') }}" method="post">
            <input type="submit" value="Index">
        </form>

        <form action="{{ url_for('paynow') }}" method="post">
            <input type="submit" value="Transfer money" style="background-color: #109849;">
        </form>

        <form action="{{ url_for('dsai_token') }}" method="post">
            <input type="submit" value="DSAI ERC20 Token" style="background-color: #109849;">
        </form>

        <form action="{{ url_for('telegram') }}" method="post">
            <input type="submit" value="Start Telegram" style="background-color: #109849;">
        </form>

        <form action="{{ url_for('prediction') }}" method="post">
            <input type="submit" value="Prediction" style="background-color: #109849;">
        </form>

        <a href="http://t.me/webhook_yst_bot" target="_blank">Telegram bot (Webhook version)</a>
    </div>
</body>
</html>