<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SQLite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
</head>
<body>
    <div class="container-wide">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% if not users %}
                <tr><td colspan="2" style="text-align: center;">No users in database</td></tr>
                {% endif %}

                {% for user in users %}
                <tr>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <form action="{{ url_for('index') }}" method="post">
                <input type="submit" value="Back to index">
            </form>
            <form action="{{ url_for('main') }}" method="post">
                <input type="submit" value="Main">
            </form>
        </div>
    </div>
</body>
</html>