<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SQLite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
</head>
<body>
    <div class="container-wide">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Timestamp</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if not users %}
                <tr><td colspan="3" style="text-align: center;">No users in database</td></tr>
                {% endif %}

                {% for user in users %}
                <tr>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.timestamp }}
                    </td>
                    <td>
                        <form class="inline" action="{{ url_for('edit') }}" method="post">
                            <input type="hidden" name="name" value="{{ user.name }}">
                            <input type="hidden" name="timestamp" value="{{ user.timestamp }}">
                            <input class="edit-btn" type="submit" value="Edit">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <form action="{{ url_for('index') }}" method="post">
                <input type="submit" value="Back to index">
            </form>
            <form action="{{ url_for('main') }}" method="post">
                <input type="submit" value="Main">
            </form>
        </div>
    </div>
</body>
</html>