<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSAI | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    {% endblock %}
</head>
<body class="bg-white dark:bg-gray-600">
    {% include "experimental/layouts/navbar.html" %}
    {% include "experimental/layouts/sidebar.html" %}

    <main class="bg-white dark:bg-gray-600 p-4 md:ml-64 h-auto pt-20">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>