{% extends "experimental/layouts/template.html" %}
{% block title %}Telegram bot settings{% endblock %}

{% block content %}
    <div class="max-w-xl">
        <h2 class="text-4xl font-extrabold dark:text-white mb-3">Telegram bot settings</h2>

        <div class="my-3 border-b">
            <h4 class="text-xl font-bold dark:text-white mb-3">Gemini bot webhook information</h4>
            <p>URL: {{ gemini_webhook_info.url }}</p>
            <p>Last error message: {{ gemini_webhook_info.last_error_message }}</p>
            <p>IP Address: {{ gemini_webhook_info.ip_address }}</p>

            <div class="my-2">
                <a href="{{ url_for('settings_telegram_set_webhook', bot_name='gemini_bot') }}" class="inline-block px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Set webhook</a>
                <form action="{{ url_for('settings_telegram_delete') }}" method="post" class="inline">
                    <input type="hidden" name="bot_name" value="gemini_bot">
                    <input type="submit" value="Delete webhook" class="px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                </form>
            </div>
        </div>

        <div class="my-3 border-b">
            <h4 class="text-xl font-bold dark:text-white mb-3">SEA-LION bot webhook information</h4>
            <p>URL: {{ sealion_webhook_info.url }}</p>
            <p>Last error message: {{ sealion_webhook_info.last_error_message }}</p>
            <p>IP Address: {{ sealion_webhook_info.ip_address }}</p>

            <div class="my-2">
                <a href="{{ url_for('settings_telegram_set_webhook', bot_name='sealion_bot') }}" class="inline-block px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Set webhook</a>
                <form action="{{ url_for('settings_telegram_delete') }}" method="post" class="inline">
                    <input type="hidden" name="bot_name" value="sealion_bot">
                    <input type="submit" value="Delete webhook" class="px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

